
.heading
{
    color: blueviolet;
    text-align: center;
    text-align: left;
}

.heading:hover
{
    color: brown;
    cursor:pointer;
    
}

.headingimg
{
    width: 100px;
    height: 100px;
    text-align: left;
}